<header>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo2.png" width="70" height="60" class="d-inline-block align-center" alt="">
                UAM Compartido
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">    
                    <li class="ms-2 nav-item btn btn-outline-success btn-sm">
                        <a class="nav-link text-white"><i class="bi bi-person"></i> Mis datos</a>
                    </li>
                    <li class="ms-2 nav-item btn btn-outline-danger btn-sm">
                        <a class="nav-link text-white"><i class="bi bi-box-arrow-right"></i> Salir</a>
                    </li>
                    <li class="ms-2 mt-1 nav-item">
                        <a class="nav-link text-white">Acerca de</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>