<div class="card text-bg-dark">
    <div class="card-header mt-5">
        <img src="/img/pantera.png" alt="Logo pantera" width="70" height="60">
        <h1>¡Bienvenido!</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Inicia sesión o regístrate</h5>
        <form [formGroup]="formulario" (ngSubmit)="enviar()" method="post" id="formLogin"
            class="w-75 mx-auto mb-5 needs-validation" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                
                
                <input formControlName="email" type="text" class="form-control" id="email"
                    [ngClass]="{'is-valid': email?.valid && email?.touched, 'is-invalid': email?.invalid && email?.touched}"
                    placeholder="Ingresa tu correo" required>
                <div class="valid-feedback">
                </div>
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input formControlName="password" type="password" class="form-control" id="password"
                    [ngClass]="{'is-valid': password?.valid && password?.touched, 'is-invalid': password?.invalid && password?.touched}"
                    placeholder="Ingresa tu contraseña" required>
                <div class="valid-feedback">
                </div>
                <div class="invalid-feedback">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success me-3" data-bs-toggle="modal"
                    data-bs-target="#modal" [disabled]="formulario.invalid">Ingresar</button>
                <a routerLink="/signup" class="btn btn-primary">Registrarse</a>
            </div>
        </form>
    </div>
</div>

<div *ngIf="modal" class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Autenticación fallida</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ mensaje }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>