<div class="card text-bg-dark">
    <div class="card-header mt-5">
        <img src="/img/pantera.png" alt="Logo pantera" width="70" height="60">
        <h1>¡Bienvenido!</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Regístrate</h5>
        <form [formGroup]="formulario" (ngSubmit)="enviar()" method="post">
            <div class="row w-100 mx-auto">
                <div class="form-group mb-5">
                    <label for="noeconomico">Número económico:</label>
                    <input type="number" class="form-control" id="noeconomico" placeholder="Ingresa tu número económico"
                        formControlName="noeconomico">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="form-group col-md-4">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre"
                        [ngClass]="{'is-valid': nombre?.valid && nombre?.touched, 'is-invalid': nombre?.invalid && nombre?.touched}"   
                        formControlName="nombre">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="apellidopaterno">Apellido paterno:</label>
                    <input type="text" class="form-control" id="apellidopaterno"
                        [ngClass]="{'is-valid': apellidopaterno?.valid && apellidopaterno?.touched, 'is-invalid': apellidopaterno?.invalid && apellidopaterno?.touched}"
                        placeholder="Ingresa tu apellido paterno" formControlName="apellidopaterno">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="apellidomaterno">Apellido materno:</label>
                    <input type="text" class="form-control" id="apellidomaterno"
                        [ngClass]="{'is-valid': apellidomaterno?.valid && apellidomaterno?.touched, 'is-invalid': apellidomaterno?.invalid && apellidomaterno?.touched}"
                        placeholder="Ingresa tu apellido materno" formControlName="apellidomaterno">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="form-group col-md-4">
                    <label>Unidad:</label>
                    <select id="unidad" class="form-select" formControlName="unidad" [ngClass]="{'is-valid' : departamento?.valid && departamento?.touched, 'is-invalid' : departamento?.invalid && departamento?.touched}">
                        <option value="" disabled selected>Selecciona una unidad</option>
                        <option *ngFor="let unidad of signupInfo.unidades" [ngValue]="unidad">
                            {{ unidad.nombre }}
                        </option>
                    </select>
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>División:</label>
                    <select id="division" class="form-select" formControlName="division" 
                    [ngClass]="{'is-valid' : departamento?.valid && departamento?.touched, 'is-invalid' : departamento?.invalid && departamento?.touched}">
                        <option value="" disabled selected>Selecciona una división</option>
                        <option *ngFor="let division of signupInfo.divisiones" [ngValue]="division">
                            {{ division.nombre }}
                        </option>
                    </select>
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Departamento:</label>
                    <select id="departamento" class="form-select" formControlName="departamento" 
                    [ngClass]="{'is-valid' : departamento?.valid && departamento?.touched, 'is-invalid' : departamento?.invalid && departamento?.touched}">
                        <option value="" disabled selected>Selecciona tu departamento</option>
                        <option *ngFor="let departamento of signupInfo.departamentos" [ngValue]="departamento">
                            {{ departamento.nombre }}
                        </option>
                    </select>
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="form-group col-md-6">
                    <label for="email">Correo:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo"
                        [ngClass]="{'is-valid': email?.valid && email?.touched, 'is-invalid': email?.invalid && email?.touched}"
                        formControlName="email">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Contraseña:</label>
                    <input type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña"
                        [ngClass]="{'is-valid': password?.valid && password?.touched, 'is-invalid': password?.invalid && email?.touched}"
                        formControlName="password">
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                        La contraseña debe tener al menos 8 caracteres
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#modal"
                    [disabled]="formulario.invalid">Enviar</button>
                <a routerLink="/" class="btn btn-primary">Iniciar sesión</a>
            </div>
        </form>
    </div>
</div>

<div *ngIf="modal" class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registro fallido</h1>
                <button type="button" class="btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Algo salió mal
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>