<div class="container container vh-100 d-flex justify-content-center align-items-center flex-column">
    <div class="row justify-content-center mt-5 text-center">
        <div class="col-lg-6">
            <div class="card text-bg-dark">
                <div class="card-header mt-2">
                    <img src="/img/pantera.png" alt="Logo pantera" width="70" height="60">
                    <h2 class="mt-4">UEAs Compartidas</h2>
                </div>

                <div class="card-body mb-2">
                    <h5>Esta es una aplicación web dirigida a la comunidad UAM para gestionar UEAs
                        compartidas entre unidades.</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container mt-5 text-center">
                <div class="card">
                    <img src="/img/uamlerma.jpg" class="card-img fondo-opacidad" alt="">
                </div>
            </div>
        </div>
    </div>
</div>