<main>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-black">
                <img src="/img/logo-negro.png" alt="Logo pantera" width="300" height="300">
                <h1>UAM Compartido</h1>
            </div>

            <div class="col-lg-6 text-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>