@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #b7c1ca, #eef2f3);
    background: linear-gradient(to right, #b7c1ca, #eef2f3);

}

footer {
    background-color: #212529;
    color: white;
    padding: 30px 0px 0px 0px;
}

.navbar {
    padding: 30px 0;
    height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}