<div class="container">
    <div class="row vh-100">
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="card text-bg-dark w-100">
                <div class="card-header mt-5">
                    <h1 class="text-center">Alta de UEA</h1>
                    <h3 class="text-center">Ingresa los datos</h3>
                </div>
                <div class="body p-5">
                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="clave" class="form-label">Clave</label>
                                    <input type="text" class="form-control" id="clave" name="clave" required
                                        placeholder="Ingresa la clave">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" required
                                        placeholder="Ingresa el nombre">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="creditos" class="form-label">Créditos</label>
                                    <input min="0" type="number" class="form-control" id="creditos" name="creditos"
                                        required placeholder="Ingresa la cantidad de créditos">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="unidad" class="form-label">Unidad</label>
                                    <select class="form-select" id="unidad" name="unidad" required>
                                        <option value=0>Selecciona una unidad</option>
                                        <option th:each="unidad : ${unidades}" th:value="${unidad.IdUnidad}"
                                            th:text="${unidad.Nombre}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="tronco" class="form-label">Tronco</label>
                                    <select class="form-select" id="tronco" name="tronco" required>
                                        <option value=0>Selecciona un tronco</option>
                                        <option th:each="tronco : ${troncos}" th:value="${tronco.IdTronco}"
                                            th:text="${tronco.Nombre}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="trimestre" class="form-label">Trimestre</label>
                                    <select class="form-select" id="trimestre" name="trimestre" required>
                                        <option value=0>Selecciona un trimestre</option>
                                        <option th:each="trimestre : ${trimestres}" th:value="${trimestre.IdTrimestre}"
                                            th:text="${trimestre.Nombre}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mb-4 mt-4">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center ">
            <h2 class="text-center">UEAs en plataforma</h2>
            <table class="table table-dark table-striped text-center w-100">
                <thead>
                    <tr>
                        <th scope="col">Clave</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Tronco</th>
                        <th scope="col">Trimestre</th>
                        <th scope="col">Créditos</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-warning m-2 col-7"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-danger m-2 col-7"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>